.hero-title {
    color: #FFFF00;
    text-align: left;
}

.hero-subtitle {
    color: #000000;
    text-align: left;
    font-size: 16pt;
}
.hero-floating-image {
    float: right;
    border-radius:10px; 
    width:270px;
    height:370px;
    margin-left:15px; 
    margin-top:-250px;

  }

.hero-container {
      color: white;
      position: relative; /* Ensure proper positioning */
      width: 100%; /* Set the desired width */
      height: 50vh; /* Set the desired height (e.g., full viewport height) */
  }
  
.hero-box {
  padding: 30px;
      /* Styles for the first div (background) */
      background-color: #495E57; /* Example background color */
      /* Other styling properties as needed */
  }
  
.hero-box-overlay {
      /* Styles for the second div (overlay) */
      position: absolute; /* Position the overlay absolutely within the container */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /*background-image: url('restaraunt'); */ /* Set the image URL */
      background-size: cover; /* Make the image cover the entire overlay */
      /* Other styling properties for the overlay */
  }

.hero-block {
  text-align: left;
	width: 400px;
  font-size: 12pt;
  margin-top: 30px;
  margin-bottom: 80px;
	/*margin: 0 auto;*/
}

.hero-left {
  float: left;
}