.hero-title {
    color: #FFFF00;
    text-align: left;
}

.hero-subtitle {
    color: #000000;
    text-align: left;
    font-size: 16pt;
}
.hero-floating-image {
    float: right;
    border-radius:10px; 
    width:270px;
    height:370px;
    margin-left:15px; 
    margin-top:-250px;

  }

.hero-container {
      color: white;
      position: relative; 
      width: 100%;
      height: 50vh;
  }
  
.hero-box {
  padding: 30px;
  background-color: #495E57; 
  }
  
.hero-box-overlay {
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      padding-left: 100px;
      padding-right: 100px;

  }

.hero-block {
  text-align: left;
	width: 400px;
  font-size: 12pt;
  margin-top: 30px;
  margin-bottom: 80px;

}

.hero-left {
  float: left;
}