.testimonial-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
	  background-color: #495E57;
  }

  .testimonial-card {
    flex: 0 0 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	background-color: #FFFFFF;
  
  }
  
  .testimonial-card .testimonial-card-img {
     width: 100%;
       
    
  }

  .testimonial-card-body {
    align-content: flex-start;
    text-align: center;
    display: block;
    width: 250px;
    font-size: 12pt;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;

  }

  .testimonial-card-header {
    text-align: left;

  }
  .testimonial-card .testimonial-card-text {
    text-align: left;
    display: block;
  }

.testimonial-card .testimonial-text > button {
  background: gray;
  border: 0;
  color: white;
  width: 100%;
}

.testimonial-card-text {
  height: 125px;
}

.testimonial-card-rating {
	margin-left: 24px;
}
@media screen and (max-width: 575px) {
  .testimonial-cards {
    display: block;
    align-items: center;
    justify-content: left;
  }
}